<!doctype html>
{% extends "grumblr/base_edit.html" %}
{% block form %} 
	<form method="post" action="{% url 'change_password'%}">
        {% for field in ChangePasswordForm.visible_fields %}
            <div class="form-group">
                <label class="control-label">{{ field.field.widget.attrs.label }}</label>
                <input type="{{ field.field.widget.input_type }}" class="form-control" placeholder="{{ field.field.widget.attrs.placeholder}}" name="{{ field.name }}"> 
                {% for error in field.errors %}
                    <p class="errors"> {{ error }}</p>
                {% endfor %}
                {% for error1 in errors %}
                {% if field.name == "password1"%}
                    <p class="errors"> {{ error1 }}</p> 
                {% endif %}   
                {% endfor %}           
            </div>   
        {% endfor %} 
        {% for error in ChangePasswordForm.non_field_errors %}
            	<p class="errors"> {{ error }}</p>
        {% endfor %} 
        <button type="submit" class="btn btn-primary active center-block">Change</button>   
        {% csrf_token %}       
    </form> 
{% endblock %}

