<!doctype html>
{% extends "grumblr/base_profile.html" %}
{% block follower %}
	<div style="margin-left:44%; margin-top:-10px;">
    {% for type in types%}
        {% if type == "Unfollow" %}
            <button type="button" class="btn btn-success btn-xs" name="follow" id="follow">
                <a href="{% url 'follow_user' post_user.id %}"><span style="color:white;">{{ type }}</span></a>
            </button>        
        {% elif type == "Followed" %}
            <button type="button" class="btn btn-info btn-xs" name="unfollow" id="unfollow">
                <a href="{% url 'follow_user' post_user.id %}"><span style="color:white;">{{ type }}</span></a>
            </button> 
        {% elif type == "Blocked" %}
            <button type="button" class="btn btn-warning btn-xs" name="unblock" id="unblock">
                <a href="{% url 'block_user' post_user.id %}"><span style="color:white;">{{ type }}</span></a>
            </button>
        {% elif type == "Unblock" %}
            <button type="button" class="btn btn-danger btn-xs" name="block" id="block">
                <a href="{% url 'block_user' post_user.id %}"><span style="color:white;">{{ type }}</span></a>
            </button>
        {% endif %}
    {% endfor %} 
    </div>  
{% endblock %}
{% block button_group %}
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default commentBtn" data="{{ message.id }}">
            	<small><span class="glyphicon glyphicon-pencil" id="bar{{ message.id }}"> Comment</span></small>
            </button>
        </div>
    </div>
{% endblock %}