<!doctype html>
{% extends "grumblr/base_login.html" %}
{% block content %}
    {% block form %}
    <form method="post" action="{% url 'reset' %}">
        <input type="hidden" class="form-control" value="{{ token }}" name="token">
    {% endblock%}
        {% for field in ResetPasswordForm.visible_fields %}
        <div class="form-group">
            <label class="control-label">{{ field.field.widget.attrs.label }}</label>
            <input type="{{ field.field.widget.input_type }}" class="form-control" placeholder="{{ field.field.widget.attrs.placeholder}}" name="{{ field.name }}"> 
            {% for error in field.errors %}
                <p class="errors"> {{ error }}</p>
            {% endfor %}            
        </div>   
        {% endfor %} 
        {% for error in ResetPasswordForm.non_field_errors %}
            <p class="errors"> {{ error }}</p>
        {% endfor %}  
        <br>
        <button type="submit" class="btn btn-primary active center-block">Submit</button>   
        {% csrf_token %}       
    </form>
    {% if success %}
        <div class="alert alert-success alert-dismissible error" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Success!  </strong> {{success}}
        </div>
	{% endif %}  
{% endblock %}